<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
</head>
<body>
{{ $args := .Args }}
{{ $plotTypes := .PlotTypes }}
{{ $foldTypes := .FoldTypes }}
{{ range $plot := $plotTypes }}
{{ range $fold := $foldTypes }}
<a href="/plot/{{$plot}}?fold={{$fold}}&{{$args}}">
    <img src="/plotter/{{$plot}}?fold={{$fold}}&{{$args}}" alt="scatter" style="width:400px;height:400px;">
</a>
{{ end }}
<p></p>
{{ end }}
<form id="date-form" action="/report" method="get">
    <label for="start-date">Start Date:</label>
    <input type="date" id="start-date" required>

    <label for="end-date">End Date:</label>
    <input type="date" id="end-date" required>

    <!-- Hidden inputs for submitting full timestamps -->
    <input type="hidden" id="start-datetime" name="start">
    <input type="hidden" id="end-datetime" name="end">
    <input type="hidden" id="fold" name="fold">

    <button type="submit">Refresh Graph</button>
</form>
<script src="/static/form.js"></script>
</body>
</html>
